*.exe
*.idb
*.ilk
*.ipch
*.jpg
*.lastbuildstate
*.manifest
*.obj
*.opensdf
*.pdb
*.rc
*.res
*.sdf
*.sln
*.suo
*.tlog
resources
sources/src/build-naochain/ALL_BUILD.vcxproj
sources/src/build-naochain/ALL_BUILD.vcxproj.filters
sources/src/build-naochain/ALL_BUILD.vcxproj.user
sources/src/build-naochain/CTestTestfile.cmake
sources/src/build-naochain/dependencies.cmake
sources/src/build-naochain/INSTALL.vcxproj
sources/src/build-naochain/INSTALL.vcxproj.filters
sources/src/build-naochain/INSTALL.vcxproj.user
sources/src/build-naochain/RUN_TESTS.vcxproj
sources/src/build-naochain/RUN_TESTS.vcxproj.filters
sources/src/build-naochain/RUN_TESTS.vcxproj.user
sources/src/build-naochain/src.vcxproj
sources/src/build-naochain/src.vcxproj.filters
sources/src/build-naochain/src.vcxproj.user
sources/src/build-naochain/ZERO_CHECK.vcxproj
sources/src/build-naochain/ZERO_CHECK.vcxproj.filters
sources/src/build-naochain/ZERO_CHECK.vcxproj.user
