*.exe
*.idb
*.ilk
*.ipch
*.jpg
*.lastbuildstate
*.manifest
*.obj
*.opensdf
*.pdb
*.rc
*.res
*.sdf
*.sln
*.suo
*.tlog
resources
sources/src/build-naochain/ALL_BUILD.vcxproj
sources/src/build-naochain/ALL_BUILD.vcxproj.filters
sources/src/build-naochain/ALL_BUILD.vcxproj.user
sources/src/build-naochain/CTestTestfile.cmake
sources/src/build-naochain/dependencies.cmake
sources/src/build-naochain/INSTALL.vcxproj
sources/src/build-naochain/INSTALL.vcxproj.filters
sources/src/build-naochain/INSTALL.vcxproj.user
sources/src/build-naochain/RUN_TESTS.vcxproj
sources/src/build-naochain/RUN_TESTS.vcxproj.filters
sources/src/build-naochain/RUN_TESTS.vcxproj.user
sources/src/build-naochain/src.vcxproj
sources/src/build-naochain/src.vcxproj.filters
sources/src/build-naochain/src.vcxproj.user
sources/src/build-naochain/ZERO_CHECK.vcxproj
sources/src/build-naochain/ZERO_CHECK.vcxproj.filters
sources/src/build-naochain/ZERO_CHECK.vcxproj.user
sources/src/build-naochain/sdk/bin/archive.dll
sources/src/build-naochain/sdk/bin/archive_d.dll
sources/src/build-naochain/sdk/bin/opencv_calib3d231.dll
sources/src/build-naochain/sdk/bin/opencv_calib3d231d.dll
sources/src/build-naochain/sdk/bin/opencv_contrib231.dll
sources/src/build-naochain/sdk/bin/opencv_contrib231d.dll
sources/src/build-naochain/sdk/bin/opencv_core231.dll
sources/src/build-naochain/sdk/bin/opencv_core231d.dll
sources/src/build-naochain/sdk/bin/opencv_features2d231.dll
sources/src/build-naochain/sdk/bin/opencv_features2d231d.dll
sources/src/build-naochain/sdk/bin/opencv_flann231.dll
sources/src/build-naochain/sdk/bin/opencv_flann231d.dll
sources/src/build-naochain/sdk/bin/opencv_gpu231.dll
sources/src/build-naochain/sdk/bin/opencv_gpu231d.dll
sources/src/build-naochain/sdk/bin/opencv_highgui231.dll
sources/src/build-naochain/sdk/bin/opencv_highgui231d.dll
sources/src/build-naochain/sdk/bin/opencv_imgproc231.dll
sources/src/build-naochain/sdk/bin/opencv_imgproc231d.dll
sources/src/build-naochain/sdk/bin/opencv_legacy231.dll
sources/src/build-naochain/sdk/bin/opencv_legacy231d.dll
sources/src/build-naochain/sdk/bin/opencv_ml231.dll
sources/src/build-naochain/sdk/bin/opencv_ml231d.dll
sources/src/build-naochain/sdk/bin/opencv_objdetect231.dll
sources/src/build-naochain/sdk/bin/opencv_objdetect231d.dll
sources/src/build-naochain/sdk/bin/opencv_ts231.dll
sources/src/build-naochain/sdk/bin/opencv_ts231d.dll
sources/src/build-naochain/sdk/bin/opencv_video231.dll
sources/src/build-naochain/sdk/bin/opencv_video231d.dll
sources/src/build-naochain/sdk/bin/pthreadGC2.dll
sources/src/build-naochain/sdk/bin/pthreadGCE2.dll
sources/src/build-naochain/sdk/bin/pthreadVC2.dll
sources/src/build-naochain/sdk/bin/pthreadVCE2.dll
sources/src/build-naochain/sdk/bin/pthreadVSE2.dll
sources/src/build-naochain/sdk/bin/python26.dll
sources/src/build-naochain/sdk/bin/python26_d.dll
sources/src/build-naochain/sdk/bin/qi.dll
sources/src/build-naochain/sdk/bin/qi_d.dll
sources/src/build-naochain/sdk/bin/QtCore4.dll
sources/src/build-naochain/sdk/bin/QtCored4.dll
sources/src/build-naochain/sdk/bin/QtGui4.dll
sources/src/build-naochain/sdk/bin/QtGuid4.dll
sources/src/build-naochain/sdk/bin/QtMultimedia4.dll
sources/src/build-naochain/sdk/bin/QtMultimediad4.dll
sources/src/build-naochain/sdk/bin/QtNetwork4.dll
sources/src/build-naochain/sdk/bin/QtNetworkd4.dll
sources/src/build-naochain/sdk/bin/QtXml4.dll
sources/src/build-naochain/sdk/bin/QtXmld4.dll
sources/src/build-naochain/sdk/bin/src_d.dmp
sources/src/build-naochain/sdk/bin/zlib1.dll
sources/src/build-naochain/src.dir/Debug/src.log
sources/src/build-naochain/src.dir/Debug/src.vcxprojResolveAssemblyReference.cache
sources/src/build-naochain/Win32/Debug/ALL_BUILD/ALL_BUILD.log
sources/src/build-naochain/Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
sources/src/build-naochain/Win32/Debug/ZERO_CHECK/ZERO_CHECK.vcxprojResolveAssemblyReference.cache
sources/src/build-naochain/resource.h
sources/src/build-naochain/src.aps
cd
dir
Microsoft
sources/src/build-naochain/Win32/Release/ZERO_CHECK/ZERO_CHECK.log
sources/src/build-naochain/src.dir/Release/src.log
sources/src/build-naochain/src.dir/Release/src.unsuccessfulbuild
